/*
  Style made by Dorako
  many thanks for allowing usage of it!
*/

:root {
    --border-width: 1px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.0em 0.0em 0em 0em;
    --edge-margin: 5px;

    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-glass: rgba(120, 120, 120, 0.50);
    --dorako-sheet-light: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    /* --dorako-bg-current: var(--dorako-bg-glass); */
    --dorako-bg-current: var(--dorako-sheet-light);
    /* --dorako-bg-current: hsl(0,0%, 10%); */

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    --dorako-vibrancy: none;
        /* --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px); */
    /* --dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px); */

    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --glassy: 
    0px 0px 2px rgba(255, 255, 255, 0.4) inset, 
    0px 0px 6px rgba(255, 255, 255, 0.2) inset, 
     1px  1px 1px rgba(0, 0, 0, 1), 
     1px -1px 1px rgba(0, 0, 0, 1), 
    -1px -1px 1px rgba(0, 0, 0, 1), 
    -1px  1px 1px rgba(0, 0, 0, 1), 
    0px 0px 3px rgba(0, 0, 0, 1), 
    0px 0px 4px rgba(0, 0, 0, 0.5);


    --primary-hue: 0;
    --primary-sat: 100%;
    --primary-lvl: 18%;

    --secondary-hue: 234;
    --secondary-sat: 64%;
    --secondary-lvl: 25%;

    --paizo-red-dark: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) - 10%));
    --paizo-red: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lvl));
    --paizo-red-bright: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) + 10%));

    --paizo-blue-dark: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) - 10%));
    --paizo-blue: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lvl));
    --paizo-blue-bright: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) + 10%));

    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --dorako-radius: 3px;
     /*transition: backdrop-filter 0.3s ease-out;*/
     /*transition: background-color 0.3s ease-out;*/

}

#token-action-hud {
    border: none;
    background-color: unset;
    box-shadow: var(--glassy);
    padding: 2px;
    padding: 0px;
    box-shadow: none;
    display: flex;
    gap: 10px;
}

.tah-subcategory {
    display: grid;
    grid-auto-rows: unset;
    min-height: 22px;
    cursor: default;
    width: 1400px;
    margin-top: 10px;
    grid-template-columns: 200px 1200px;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 5px; */
    width: 1000px;
    row-gap: 2px;
    column-gap: 8px;
    margin-bottom: 0px;
    font-size: medium;
}

.tah-actions .stickLeft {
    width: auto;
    min-width: unset;
    min-height: unset;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
    position: relative;
    left: unset;
}

.tah-category.hover .tah-content {
    left: -200px;
}

.tah-content {
    gap: 0px;
    padding: 10px !important;
    margin: -5px;
}

/* #tah-hudTitle {
    display: none
} */

.tah-title-button:hover, .tah-title-button:focus {
    box-shadow: var(--glassy);
}

.tah-title-button>.fa {
    display: none;
}

.tah-title-button {
    border: none;
    background-color: var(--dorako-bg-current);
    box-shadow: var(--glassy);
    /* color: var(--color-text-light-highlight); */
    backdrop-filter: var(--dorako-vibrancy);
    text-shadow: var(--dorako-text-shadow);
    margin:0px;
    padding-left: 5px;
    padding-right: 5px;

}

.tah-action button {
    border: none;
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    box-shadow: var(--glassy);
    border-radius: var(--dorako-radius);
    /* color: var(--color-text-light-highlight); */
    text-shadow: var(--dorako-text-shadow);
    line-height: unset;
    margin-left: unset;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    height:20px;
}

.tah-action {
    padding: 0px;
    margin: 0px;
}

.tah-action button[value*="toggle"]:hover {
    background-color: var(--paizo-blue);
}

.tah-action.active,
.tah-action.active button[value*="toggle"] {
    background-color: var(--paizo-blue-bright);
}

.tah-action button * {
    overflow: hidden;
}


/* .tah-title-button:hover {
    border: unset;
    box-shadow: unset;
    background-color: unset;
} */

.tah-title-button:hover,
.tah-action button:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-red);
    border: none;
    box-shadow: var(--glassy);
}

.tah-action button[value^="toggle"]:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-blue);
    border: none;
    box-shadow: var(--glassy);
}

/* .tah-category.hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-blue-bright);
    border: none;
    box-shadow: var(--glassy);
} */

.tah-action .tah-img {
    border: none;
    /* box-shadow: 0 0 0 1px var(--tertiary),0 0 0 2px #9f725b,inset 0 0 4px rgba(0,0,0,.5); */
    box-shadow:none;
    box-shadow: 0 0 0 1px var(--tertiary);
    /* margin-left: -5px; */
}




.tah-content {
    gap: 0px;
}

.tah-actions {
    gap: 10px;
}

.tag-action button span {
    display: flex;
    flex-direction: row;
}

/* .tah-actions .shrink {
    margin: 0px;
    min-width: 20px;
} */

/* .tah-action button[value^="spell|"] span {
    display: block;
    float: left;
    width: 50px;
    overflow: hidden;
} */

/* .tah-action button[value^="spell|"] span.tah-name {
    display: none;
} */

.tah-name {
    display: inline;
}

.tah-action.stickLeft button {
    width: auto;
    min-width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
    /* margin-left:-11px; */
}



.tah-action:not(.stickLeft) button[value^="spell|"]  {
    padding-left: 0px;
    padding-right: 5px;
}

.tah-action:not(.stickLeft) button[value^="spell|"]:hover  {
    padding-left: 0px;
    padding-right: 5px;
}

/* .tah-action:not(.stickLeft) button[value^="spell|"] .tah-icon,
.tah-action:not(.stickLeft) button[value^="spell|"] .tah-name,
.tah-action:not(.stickLeft) button[value^="spell|"] .tah-info1
{
    display:none;
}

.tah-action:not(.stickLeft) button[value^="spell|"]:hover .tah-icon,
.tah-action:not(.stickLeft) button[value^="spell|"]:hover .tah-name,
.tah-action:not(.stickLeft) button[value^="spell|"]:hover .tah-info1 {
    display: inline;
} */

.tah-actions .shrink {
    width: auto;
    min-width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
}

tah-actions {
    gap: 0px;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 8px; */
    width: 600px;
    row-gap: 8px;
    column-gap: 4px;
    margin-bottom: 0px;
    font-size: medium;
}