#token-action-hud {
  align-items: center;
  background: none;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: auto;
  left: 150px;
  position: fixed;
  top: 80px;
  width: auto;
  z-index: 99;
}

#token-action-hud [class*="icon-"] {
  display: inline-block;
  width: 100%;
}

#token-action-hud:hover > #tah-reposition,
#token-action-hud:hover > #tah-categories {
  display: block;
  position: absolute;
}

#tah-hudTitle {
  color: #fff;
  left: 4px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-shadow:
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
    top: -20px !important;
}

#tah-reposition,
#tah-categories {
  display: none;
  font-style: normal;
  font-weight: normal;
}

#tah-reposition:hover,
#tah-categories:hover {
  cursor: pointer;
}

#tah-reposition {
  left: -20px;
}

#tah-categories {
  left: 100%;
}

#tah-reposition > .fa,
#tah-reposition > .fas,
#tah-categories > .fa,
#tah-categories > .fas {
  color: #ddd;
  margin: 3px;
  padding: 3px;
  pointer-events: none;
  text-align: center;
  text-shadow:
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

#tah-reposition > .fa,
#tah-reposition > .fas {
  font-size: small;
}

#tah-categories > .fa,
#tah-categories > .fas {
  font-size: large;
}

#tah-reposition:hover > i,
#tah-categories:hover > i {
  color: #fff;
  text-shadow: 0 0 10px #ff6400;
}

/* The container <div> - needed to position the dropdown content */
.tah-category {
  cursor: default;
  display: block;
  position: relative;
}

.tah-title-button {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  color: #ddd;
  height: auto;
  margin-right: 2px;
  padding: 3px;
  text-align: center;
  text-shadow:
    0px 0px 2px rgb(0 0 0 / 50%),
    0px 0px 5px rgb(0 0 0 / 25%);
  width: auto;
}

.tah-title-button:hover {
  border: 1px solid red !important;
  border-bottom: 1px solid #ff6400 !important;
  box-shadow: 0 0 10px #ff6400;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}

.tah-title-button > .fa,
.tah-title-button > .fas {
  color: rgba(255, 255, 255, 0.6);
  font-size: 6px;
  pointer-events: none;
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
}

.tah-title-button:hover > .fa,
.tah-title-button:hover > .fas {
  cursor: pointer;
  visibility: visible;
}

/* Dropdown Content (Hidden by Default) */
.tah-content {
  border-radius: 3px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Show the dropdown menu on hover */
.tah-category.hover .tah-content {
  background: none;
  display: flex;
  flex-direction: column;
  left: -152px;
  padding: 3px;
  position: absolute;
}

.tah-subcategory {
  cursor: default;
  display: flex;
  padding-bottom: 3px;
}

.tah-subtitle {
  align-items: center;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  padding-right: 5px;
  position: relative;
  text-align: right;
  text-shadow: 
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1), 
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
    width: 150px;
}

.tah-filterholder {
  height: 0;
  position: absolute;
  right: 5px;
  top: 0px;
  width: 0;
}

.tah-subtitle > .tah-filterholder > .fa,
.tah-subtitle > .tah-filterholder > .fas {
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 6px;
  height: auto;
  left: -3px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 3px;
  visibility: hidden;
  width: auto;
}

.tah-subtitle:hover > .tah-filterholder > .fa,
.tah-subtitle:hover > .tah-filterholder > .fas {
  visibility: visible;
}

.tah-actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
  grid-column: 2;
  width: 400px;
}

.tah-actions .stickLeft {
  font-size: small;
  font-weight: bold;
  height: 20px;
  line-height: 0px;
  margin: 0px;
  min-width: 20px;
  padding: 0px;
  position: relative;
  text-align: center;
  width: auto;
}

.tah-actions .shrink {
  display: flex;
  font-size: small;
  font-weight: bold;
  justify-content: center;
  line-height: 0px;
  min-width: 25px;
  padding: 0px;
  width: auto;
}

.tah-actionSet {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

/* Links inside the dropdown */
.tah-action {
  background: none;
  flex-basis: auto;
  flex-grow: 0;
}

.tah-action-name {
  margin: 0 5px 0 5px;
}

.tah-info1,
.tah-info2,
.tah-info3 {
  display: inline;
  font-size: smaller;
  margin-left: 2px;
}

.tah-info1 {
  text-shadow: 
    0 0 1px rgba(2, 248, 14, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info2 {
  text-shadow:
    0 0 1px rgba(240, 2, 248, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info3 {
  text-shadow: 
    0 0 1px rgba(2, 240, 248, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-icon {
  display: inline;
  margin-right: 2px;
}

.tah-img {
  border-radius: 3px 0 0 3px;
  display: inline-flex;
  height: 30px;
  width: 30px;
}

.tah-icon > .fa,
.tah-icon > .fas {
  font-size: x-small;
  margin: 0px 2px 0px 0px;
}

.tah-subtitle > .tah-icon > .fa,
.tah-subtitle > .tah-icon > .fas {
  text-shadow:
    0 0 1px rgb(255, 255, 255),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info1:before {
  content: "(";
}

.tah-info1:after {
  content: ")";
}

.tah-info2:before {
  content: "[";
}

.tah-info2:after {
  content: "]";
}

.tah-info3:before {
  content: "{";
}

.tah-info3:after {
  content: "}";
}

.tah-action button {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  color: #ddd;
  display: flex;
  margin: 0;
  min-height: 32px;
  min-width: 50px;
  padding: 0;
  text-decoration: none;
  text-shadow:
    0px 0px 2px rgb(0 0 0 / 50%),
    0px 0px 5px rgb(0 0 0 / 25%);
  width: 100%;
}

/* Change color of dropdown links on hover */
.tah-action button:hover {
  border: 1px solid red !important;
  border-bottom: 1px solid #ff6400 !important;
  box-shadow: 0 0 10px #ff6400;
  box-shadow: 0 0 10px #ff6400;
  color: #fff;
  cursor: pointer;
  font-weight: inherit;
}

.tah-action .active {
  background: rgba(85, 17, 0, 0.7) !important;
}

.tah-action .activeText:after {
  content: "*";
}
